.dots
.Xauthority
.java/
.steam/
.steampath
.steampid
.cache/
.mono/
.mozilla/
.pki/
.ssh/githubkey
.ssh/githubkey.pub
.ssh/known_hosts
.ssh/known_hosts.old
.venv/
.pulse-cookie
.config/cef_user_data/
.config/dconf/
.config/emacs/.org-id-locations
.config/emacs/auto-saves/
.config/emacs/backups/
.config/emacs/custom.el
.config/emacs/early-init.el
.config/emacs/elpa/
.config/emacs/init.el
.config/emacs/logo/
.config/emacs/places
.config/emacs/recentf
.config/emacs/transient/
.config/emacs/tree-sitter/
.config/emacs/var/
.config/fzf/
.config/GIMP/
.config/htop/
.config/ibus/
.config/lf/shrc
.config/mpd/database
.config/mpd/log
.config/mpd/pid
.config/mpd/state
.config/mpd/sticker.sql
.config/ncmpcpp/error.log
.config/newsboat/error.log
.config/nvim/lazy-lock.json
.config/pulse/
.config/qtile/__pycache__/
.config/qutebrowser/bookmarks/
.config/qutebrowser/quickmarks
.config/shell/shrc
.config/shell/zshdirrc
.config/spotify/
.config/transmission-daemon/bandwidth-groups.json
.config/transmission-daemon/dht.dat
.config/transmission-daemon/resume
.config/transmission-daemon/stats.json
.config/transmission-daemon/torrents/
.config/tremc/history.json
.config/zsh/zplug/
.config/zsh/.history
.config/zsh/.zcompdump
.local/downloads/
.local/drafts/
.local/orgdata/
.local/review/
.local/screenshot/
.local/share/cargo/
.local/share/gnupg/crls.d/
.local/share/gnupg/private-keys-v1.d/
.local/share/gnupg/pubring.kbx
.local/share/gnupg/pubring.kbx~
.local/share/gnupg/trustdb.gpg
.local/share/icons/
.local/share/lf/
.local/share/man/
.local/share/newsboat/
.local/share/nvim/
.local/share/qtile/
.local/share/qutebrowser/
.local/share/spotify-launcher/
.local/share/Steam/
.local/share/Terraria/
.local/share/vulkan/
.local/share/xorg/
.local/share/recently-used.xbel
.local/share/zathura/
.local/src/
.local/state/
.local/testfiles/
.local/torrent/
